<footer class="footer">
    <div class="footer-content">
        <p class="centrar">Devstructors - Todos los derechos Reservados 2024</p>
        <p class="centrar">Desarrollado por <a href="https://gitlab.com/Juniorcabral/02-Y25387-motor-plantillas" target="_blank">Junior Cabral - Y25387</a></p>
    </div>
</footer>


