<nav>
    <ul id="nav-list">
        <li><a href="/">Inicio</a></li>
        <li><a href="/Y19937/">Juan Aquino (Y19937)</a></li>
        <li><a href="/Y25387/">Junior Cabral (Y25387)</a></li>
        <li><a href="/Y25495/">Sebastian Pereira (Y25495)</a></li>
        <li><a href="/Y19099/">Elvio Aguero (Y19099)</a></li>
        <li><a href="/UG0085/">Luis Delgado (UG0085)</a></li>
    </ul>
</nav>
