<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Error - 404</title>
    <link rel="stylesheet" href="/paginas/style.css">
</head>
<body>
    <div class="container-404">
        <h1>Error 404</h1>
        <p>La página del integrante que buscas no existe.</p>
        <button class="btn" onclick="window.location.href = '/'">Volver al inicio</button>
    </div>
</body>
</html>