body {
    background-color: #d6d6d6;
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

img {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.iframe-container, .iframe-container-j {
    display: flex;
    justify-content: center;
    align-items: center;
}

.iframe-container iframe, .iframe-container-j iframe {
    width: 580px;
    height: 330px;
}

.text, h1, .panel-inicio, .container, .logo, .video-youtube, .imagen_favorita, .dibujo, .imagen-representativa, .dibujo-propio, .enlaces {
    text-align: center;
}
.panel-inicio {
    background: #b1b9cc;
}
.imagen{
    flex-grow: 1;
    text-align: center;
    margin-top: 90px;
}

.nombres{
    background: #b1b9cc;
    margin: 0;
    padding: 20px
}

.logo {
    width: 300px;
    height: 300px;
    border: 2px solid #333;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.video-youtube, .imagen_favorita, .dibujo {
    width: 800px;
    height: 700px;
}


a {
    color: #1d1d1d;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.footer {
    background-color: #b1b9cc;
    text-align: center;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    padding-top: 10px;
}
.container-navbar {
    background-color: #b1b9cc;
    padding: 10px;
}

.container {
    display: flex;
    flex-direction: column;
}


h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

section.objetivos ul, section.plan ul {
    list-style-type: none;
    padding-left: 20px;
}

nav {
    background-color: #b1b9cc;
    color: white;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.container-404 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.btn {
    padding: 10px 20px;
    background-color: #2a2c32;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.btn:hover {
    background-color: black;
}

.descripcion h2, .objetivos h2, .plan h2 {
    margin-bottom: 10px;
    color: #354458;
}

.objetivos ul, .plan ul {
    list-style: square inside;
}

.plan ul ul {
    list-style: circle inside;
}

.plan ul ul ul {
    list-style: disc inside;
}
